img.img_prop {
  width: 100%;
  height: -webkit-fill-available;
}
h1.user_head {
  font-size: 50px;
  margin: 5% 2%;
}
.userinfo_sec .card {
  width: 50%;
  margin: 2% auto;
}
.userinfo_sec h1 {
  font-size: 50px;
  margin-top: 2%;
}
li.nav-item {
  margin-right: 35px;
}
